/* 开屏界面元素 */
#splash-screen {
    /* 定位 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 0;

    /* 居中 */
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    /* 宽高 */
    width: 100%;
    height: 100vh;

    /* 盖子 */
    background-color: white;

    /* 动画 */
    transition: opacity 0.5s ease-in-out;
}

#splash-screen.show {
    opacity: 1;
}

#splash-screen.hide {
    opacity: 0;
}

#splash-screen-tip {
    /* 颜色 */
    color: #07fba5;

    /* 大小 */
    font-size: 30px;

    /* 外边框 */
    padding-top: 0;
    padding-bottom: 0;
}

#splash-screen-title {
    /* 大小 */
    font-size: 64px;

    /* 外边框 */
    padding-top: 0;
    padding-bottom: 0;
}

.big-icon {
    /* 居中 */
    display: inline;

    /* 长宽 */
    height: 200px;
    width: auto;
}

#main-screen {
    /* 定位 */
    width: 100%;
    height: 96vh;

    /* Flex 容器设置 */
    display: flex;
    flex-direction: column;
}

#cards {
    /* 定位 */
    display: flex;
    justify-content: center;
}

.role {
    background-color: #eee;

    border-radius: 5px;
    margin: 10px;
}

.roleJob {
    /* 定位 */
    display: inline-block;

    /* 颜色 */
    color: #07fba5;
    font-weight: bold;
}

.roleName {
    /* 定位 */
    display: inline-block;
}

.play{
    height: 80%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;

    padding: 5px;
}

#roles-card {
    height: 95%;
    min-width: 250px;
    flex-shrink: 0;
}

#player {
    background-color: black;

    flex-grow: 1;

    width: 100%;
    height: 100%;
}